EXPO_PUBLIC_API_URL=http://localhost:3000

EXPO_PUBLIC_FIREBASE_API_KEY=AIzaSyCZvu5NMw541lHE1czazoMFZR1LpQr4X74
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=expo-fiirebase-auth-example.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=expo-fiirebase-auth-example
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=expo-fiirebase-auth-example.firebasestorage.app
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=8002398442
EXPO_PUBLIC_FIREBASE_APP_ID=1:8002398442:android:5ad902cd501d4d56a28f93